@font-face {
    font-family: 'ostrich_sansbold';
    src: url('../fonts/Ostrich_Sans/ostrichsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/Ostrich_Sans/ostrichsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'Press Start 2P', cursive;;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	background-size: cover;
	object-fit: cover;
	flex-direction: column;
	align-items: center;
}

body img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	font-size: 5em;
	color: white;
	text-shadow:	2px 2px magenta,
					4px 4px orange,
					6px 6px yellow,
					8px 8px green,
					10px 10px cyan;
	animation: 4s up_down infinite;
}

p {
	font-size: 7em;
	transition: 1s;
}

p:hover {
	scale: 1.6;
}

a {
	text-decoration: none;
	text-shadow:	2px 2px red,
					6px 6px blue;
}

@keyframes rot {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes up_down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(calc(100vh - 180px));
	}
	100% {
		transform: translateY(0);
	}
}