body
{
	text-align: center;
	background-image: url("../images/bc4.gif");
	background-size: cover;
}

h1
{
	font-size: 5em;
	color: white;
	text-shadow:	4px 4px red,
					8px 8px orange,
					12px 12px yellow,
					16px 16px green,
					20px 20px cyan,
					24px 24px blue,
					28px 28px purple;
}

p
{
	font-size: 7em;
}