body
{
	background-image: url("../images/bc3.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

h1
{
	position: absolute;
	top: -50px;
	right: 250px;
	color:rgba(255, 255, 255, 1);
	text-align: center;
	font-size: 6em;
	text-shadow: 1px 1px 1px black;
	border: 3px rgba(160, 15, 15, 0.098) solid;
	box-shadow: 1px 1px 1px black;
	border-radius: 20px / 20px;
	font-family: Arial, Helvetica, sans-serif;
}

p
{
	color: white;
	font-size: 3em;
	text-align: center;
}

.message
{
	position: absolute;
	top: 15vh;
	left: 28vw;
}

.credit
{
	position: absolute;
	bottom: 3vh;
	right: 1vw;
	border: 3px white solid;
	border-color: white;
	box-shadow: 2px 2px 0px black;
	border-radius: 10px / 10px;
	font-size: 2.5em;
	background-color: black;
	color: white;
}

/*.credit
{
	position: absolute;
	top: 30vh;
	right: 10vw;
	z-index: 1;
	background-color: var(--surface);
	padding: 2px 4px;
	border-radius: 5px;
	box-shadow: var(--box_shadow);
}*/