body
{
	text-shadow: 1px 1px 1px black;
	background-image: url("images/pizza-back2.jpg");
	background-position: right;
	background-color: #f6a06b;
	align-items: center;
	font-family: Comic Sans MS, fantasy;
}

h1
{
	color: rgb(230, 119, 1);
	text-align: center;
	font-family: cursive; /* police d'ecriture */
	font-size: 5em; /* taille de la police */
	border: 5px rgb(255, 157, 9) solid; /* pour faire un encadrer */
	border-radius: 20px / 10px; /* faire que les cote soit arrondis */
	box-shadow: 6px 6px 10px black; /* faire de l'ombre sur la boite */
	text-shadow: 1px 1px 1px black; /* faire de l'ombre sur le texte de la boite */
}

h2
{
	color:rgba(242, 31, 31, 0.865);
	text-decoration: underline;
}

p
{
	color: #c11a1e;
}

li
{
	color: darkgoldenrod;
}

mark { background-color: tomato; }

em { color: rgb(133, 84, 10); }

.autre { text-decoration: line-through; }

.test
{
	color: blue;
	font-weight: bold; /* pour mettre en gras */
}

.legende
{
	text-align: right;
}

.float
{
	float: right;
}