body
{
    font-size: 22px;
    text-decoration: unset;
    color: white;
    background-image: url("https://lejournal.cnrs.fr/sites/default/files/styles/asset_image_full/public/assets/images/main_image_galaxies_stephans_quintet_sq_nircam_miri_final-5mb_72dpi.jpg?itok=UhYIvuGD");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1
{
    border: 5px aqua double;
    border-radius: 100px;
    padding-left: 1.33%;
    padding-right: 1%;
    text-align: center;
    color: blueviolet;
}

hr
{
    background-color: aqua;
    color: aqua;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover {
    color: red;
    text-decoration:line-through;
    scale: 2.3;
    animation: 2s totation infinite linear;
}

.rose {
    color: magenta;
    text-shadow: 1px 1px 5px yellow;
}

div {
	position:absolute;
	left: -10vw;
	bottom: 23vh;
	width:10%;
	animation: translate 5s infinite linear;
}

.nyancat {
	position:absolute;
	animation: 1.5s upDown alternate infinite ease-in-out;
	width:100%;
}

.nyancat:hover {
    animation: 2s totation infinite linear, 1.5s tota alternate infinite ease-in-out;

}


@keyframes totation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes tota {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(9vh);
    }
}

@keyframes upDown { to { transform: translatey(10vh);} }

@keyframes translate { to { transform: translatex(1100%);} }
